
.container{
   padding: 45px;
}

.produtos{
   display: flex;
   gap: 37px;
   flex-wrap: wrap;
   /* justify-content: center; */
   /* padding: 0px 62px 50px 62px; */
}


.titulo{
   /* padding: 45px 0 18px 0; */
}