.container{
   padding: 45px;
}

.hoteis{
   display: flex;
   gap: 37px;
   flex-wrap: wrap;
}

.titulo{
   padding-bottom: 25px;
}

.tooltip {
   position: absolute;
   right: 210px;
   bottom: 90px;
}

.tooltiptext {
   visibility: hidden;
   background-color: var(--gray-200);
   color: black;
   width: 145px;
   padding: 5px;
   border-radius: 6px;
   position: absolute;
   z-index: 1;
   opacity: 0;
   transition: opacity 0.3s;
   text-align: center;
}

.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
}