* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.completed {
  text-decoration: line-through;
  color: #858587;
}

.tr_container{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #858587;
  align-items: center;
}

.item {
  padding: 10px;
  display: flex;
  align-items: center;
}

.center{
  padding-right: 10px;
}

/* Esconde o checkbox padrão */
.item_checkbox {
  -webkit-appearance: none; /* Remove o estilo padrão no WebKit browsers */
  -moz-appearance: none; /* Remove o estilo padrão no Firefox */
  appearance: none; /* Remove o estilo padrão em browsers modernos */
  outline: none; /* Remove o contorno quando clicado */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #858587;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

/* Estilo quando o checkbox está marcado */
.item_checkbox:checked {
  background-color: #042ba0;
}

/* Adiciona um checkmark dentro do círculo */
.item_checkbox:checked::before {
  content: none;
}