.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 100px;
   gap: 10px;
   padding: 20px;
}

.text {
   width: 100%;
   text-align: left;
   padding-left: 20px;
   font-size: 20px;
}

.text p {
   font-size: 20px;
   padding-right: 70px;
}

.img {
   width: 100%;
   display: flex;
   gap: 20px;
   justify-content: center;
   flex-wrap: wrap;
}

.img img {
   width: 25%;
   height: auto;
   object-fit: cover;
   border-radius: 15px;
}