.cartao{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  background-color:  #3d3f3c;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  color: #e8e8e8;
 }

 .cartao_titulo, .cartao_descricao{
   margin-bottom: 10px;
   /* margin-top: 10px; */
   color: #e8e8e8;
 }

 .cartao_descricao{
   height: 40px;
 }

 .cartao:hover{
   border: 1px solid #ff7925;
   background-color: #e8e8e8;
 }

.cartao:hover .cartao_titulo, .cartao:hover .cartao_descricao{
  color: #3d3f3c;
}

.cartao_preco{
  color: green;
  font-weight: bold;
  margin: 10px 0;
}

button {
  width: 120px;
  height: 50px;
  border: 1px solid red;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: #ff7925;
  box-shadow: 4px 8px 8px 5px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  margin-bottom: 5px;
}

button:hover {
  background-color: #3d3f3c;
  color: #ff7925;
}