:root {
   --white: #fff;
   --black: #000;
   --gray-100: #F5F5F5;
   --gray-200: #D1D1D1;
   --gray-400: #8c8c99;
   /* --gray-600: #323238; */
   /* --gray-700: #29292e; */
   /* --gray-800: #202024; */
   /* --gray-900: #121214; */

   --green-100: #a7c7be;
   --green-300: #00B37E;
   --green-500: #00875f;

   --red-400: #F75A68;
   --red-500: #f32d3d;
}

*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   font-family: "Poppins", sans-serif;
}