.card{
   width: 253px;
   height: 300px;
   border-radius: 8px;
   /* border: 10px solid var(--gray500); */
   background: var(--white);
   box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
}

.titulo{
   font-size: 16px;
   font-weight: 600;
   text-align: center;
   padding-top: 10px;
   color: var(--red-400);
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   box-sizing: border-box;       /* Inclui padding e border na largura total do elemento */
}

.img{
   /* display: inline-block; */
   width: 80%;
   height: 45%;
   object-fit: cover;
   border-radius: 8px;
   margin: 10px 0;
}
.texto{
   display: flex;
   font-size: 14px;
   font-weight: 300;
}

.diaria{
   font-size: 24px;
   font-weight: 300;
}