.card{
   position: relative;
   width: 253px;
   height: 355px;
   border-radius: 8px;
   box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
   padding: 0 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.card a {
   text-decoration: none;
   color: inherit; /* Faz com que a cor do texto herde da sua configuração de estilo */
}

.titulo{
   font-size: 16px;
   font-weight: 600;
   text-align: center;
   height: 64px;
   justify-content: center;
   /* padding: 10px 10px 0 0; */
   color: var(--red-400);
}

.img_container{
   width: 100%; /* A div ocupa 100% do espaço disponível */
   height: 40%;
   display: flex;
   align-items: center;
   border-radius: 8px;
   overflow: hidden;
   margin-bottom: 15px;
}

.img_container img{
   width: 100%;
   height: auto;
   padding: 1px;
   border-radius: 8px;
   height: auto; /* Mantém a proporção da imagem */
   object-fit: contain;
}
.texto{
   display: flex;
   font-size: 14px;
   font-weight: 300;
   padding-top: 5px;
}

.diaria{
   font-size: 24px;
   font-weight: 300;
}
.rating{
   text-align: center;
   margin-top: 5px;
}

.tooltip {
   position: absolute;
   right: 8px;
   bottom: 0;
}

.tooltiptext {
   visibility: hidden;
   background-color: var(--gray-200);
   color: black;
   width: 120px;
   padding: 5px;
   border-radius: 6px;
   position: absolute;
   z-index: 1;
   bottom: 150%;
   left: -150%;
   opacity: 0;
   transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
}

.btn_apagar{
   color: var(--red-400);
   font-size: 24px;
   cursor: pointer;
}

.btn_apagar:hover{
   color: var(--red-500);
   font-size: 24px;
   cursor: pointer;
   transform: scale(1.1);
   transition: transform 0.3s ease;
}

.tooltip_top {
   position: absolute; /* Permite que o tooltip se posicione em relação a este elemento */
   right: 8px;
   top: 5px;
}

.tooltiptext_top {
   visibility: hidden;
   position: absolute;
   background-color: var(--gray-200);
   color: black;
   width: 167px;
   padding: 5px;
   border-radius: 6px;
   text-align: center;
   z-index: 1;
   top: -35px;
   right: 25px;
   transition: opacity 0.3s;
}

.tooltip_top:hover .tooltiptext_top {
   visibility: visible;
   opacity: 1;
}

.icon_favorito_div {
   cursor: pointer;
}

.icon_favorito{
   color: var(--green-500);
   font-size: 25px;
}

.disabled {
   cursor: not-allowed; /* Cursor desabilitado */
   opacity: 0.5; /* Visualmente desabilitado */
   pointer-events: none; /* Desabilitar cliques */
}