.header {
   display: flex;
   gap: 50px;
   background-color: var(--green-300);
   color: var(--white);
   width: 100%;
   line-height: 80px;
   justify-content: center;
}

.header a {
   text-decoration: none;
   color: inherit; /* Mantém a cor do texto como a cor herdada do pai */
   cursor: pointer;
}

.header a:hover {
   text-decoration: underline;
}

.themeToggle {
   background: none; /* Sem fundo */
   border: none; /* Sem borda */
   color: var(--white); /* Cor do texto */
   cursor: pointer; /* Muda o cursor para pointer */
   font-size: 16px; /* Tamanho da fonte */
}

.themeToggle:hover {
   text-decoration: underline; /* Efeito ao passar o mouse */
}


/* .header{
   position: fixed;
   top: 0;
   z-index: 10;
} */