.modal {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   padding: 40px 42px 28px 42px;
   border-radius: 12px;
}

.container{
   width: 556px;
   display: flex;
   flex-direction: column;
}

.row{
   display: flex;
   flex-direction: row;
   gap: 10px;
   justify-content: center;
}

.titulo{
   text-align: center;
   margin-bottom: 30px;
}

.container input, textarea{
   width: 100%;
   max-width: 100%;
   margin-bottom: 23px;
   background-color: var(--gray-100);
   border: 1px solid var(--gray-200);
   border-radius: 8px;
   height: 45px;
   padding: 11px 14px;
}

.container textarea {
   height: 133px;
}

.container button{
   width: 164px;
   height: 42px;
   cursor: pointer;
}

.btn_save{
   background-color: var(--green-300);
   border-radius: 8px;
   border: none;
   text-align: center;
}

.btn_close{
   border: 1px solid var(--green-300);
   background-color: var(--white);
   border-radius: 8px;
   text-align: center;
}

.btn_save:hover {
   background-color: var(--green-500);
   color: var(--white);
   transform: scale(1.05); /* Leve aumento no botão */
}

.btn_close:hover {
   background-color: var(--green-100);
   transform: scale(1.05);
}