.container{
  height: 100vh;
}

.btn_editar{
  position: fixed;
  right: 10px;
  top: 20px;
  background-color: var(--green-300);
  padding: 0 10px;
  height: 42px;
  border: none;
  border-radius: 8px;
  cursor: pointer;font-weight: bold;
  text-decoration: underline;
}

.btn_editar:hover {
  background-color: var(--green-500);
  color: var(--white);
  transform: scale(1.05); /* Leve aumento no botão */
  text-decoration: none;
}

.content {
  max-width: 80%;
  max-height: 330px;
  margin: 50px 0 0 50px;
  display: flex;
  gap: 20px;
}

.linha1{
  gap: 20px;
  display: flex;
  object-fit: cover;
  justify-content: space-between;
  height: 200px;
}

.linha2{
  display: flex;
  justify-content: space-between;
  object-fit: cover;
  height: 130px;
}

.details{
  height: 100%;
  /* max-height: 200px; */
}
.details h1 {
  font-size: 30px;
  font-weight: bold;
}

.details h2 {
  font-size: 22px;
  font-weight: 600;
  color: var(--green-300);
}

.details h3 {
  font-size: 16px;
  font-weight: 400;
}

.details p{
  font-size: 14px;
  font-weight: 200;
  line-height: 1.6;
  display: -webkit-box; /* Utiliza o layout de caixa flexível do WebKit */
  -webkit-line-clamp: 9; /* Número de linhas a exibir antes de adicionar reticências */
  -webkit-box-orient: vertical; /* Orienta a caixa em direção vertical */
  overflow: hidden; /* Esconde o conteúdo que ultrapassa o limite da caixa */
}