.card {
   border:4px solid #2eafff; /* Cor dourada */
   box-sizing: border-box; /* Inclui padding e bordas na largura total */
   border-radius: 8px;
   padding: 10px;
   margin: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
   font-size: 1.5rem;
   margin-bottom: 10px;
   text-align: center;
}

.text {
   font-size: 1rem;
}
