.page{
   width: 738px;
   justify-content: center;
   margin: 0 auto;
}

.titulo{
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 25px;
   color: var(--black);
   margin: 50px 278px 52px 255px;
}

.container{
   display: flex;
   flex-wrap: wrap;
   flex-basis: 1 0 20%;
   justify-content: center;
   align-items: center;
   row-gap: 67px;
   column-gap: 26px;
   margin-bottom: 108px;
}