.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  gap: 40px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.desktop_menu{
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.imagem img {
  width: 100px;
  height: auto;
  justify-content: center;
}

.menu {
  text-align: right;
  padding-right: 0;
}

.menu ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 0;
}

.menu li {
  margin-right: 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;
}

.menu a:hover {
  font-size: 25px;
}
.mobile_menu{
  display: none;
  }

@media (max-width: 768px) {
  .desktop_menu {
    display: none; /* Esconde o menu desktop */
  }

  .imagem img{
    width: 10px;
    height: auto;
    justify-content: center;
  }

  .mobile_menu {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    height: 10px;
  }
}