.card{
   background: var(--gray-100);
   width: 220px;
   height: 210px;
   border-radius: 8px;

   display: flex;
   align-items: center;
   flex-direction: column;

   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: var(--gray-400);
}

.card h2{
   font-size: 18px;
   margin-bottom: 9px;
}

.card p{
   font-size: 14px;
}

.card img{
   padding: 17px 0 15px;
}